PORT=3000
JWT_SECRET=your_secret_key_here
DB_HOST=localhost
DB_USER=your_db_username
DB_PASSWORD=your_db_password
DB_MASTER_NAME=your_database_name

# FBR Configuration
FBR_API_URL=https://esp.fbr.gov.pk:8243/FBR/v1/api/Live/PostData
POS_ID=111222
AUTH_TOKEN=Bearer mock-token

# OpenAI Configuration (For Voice POS)
OPENAI_API_KEY=sk-your-openai-key-here
